@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Form with Check Boxes");

    var myname = "";
    string choices = "";
    var thebutton = "";
    var message = "";
    var color = "";
}

@section banner {<h1>@Page.Title</h1>}

@if (!IsPost) // NO Buttons Pressed
{
    message = "IsPost = false";
    color = "color:green";
}
else // Buttons Pressed
{
    myname = Request.Form["dataentry"];
    choices = Request.Form["GameGroup"];
    thebutton = Request.Form["theButton"];

    if (thebutton.Equals("reset"))
    {
        message = "Reset button pressed";
        color = "color:green";
        myname = "";
        choices = "";
    }
    else if (thebutton.Equals("submit"))
    {
        if (string.IsNullOrEmpty(myname))
        {
            message = "Please enter a name. ";
            color = "color:firebrick";
        }
        if (choices.IsEmpty())
        {
            message += "Please enter a meal item. ";
            color = "color:firebrick";
            choices = "";
        }
        if (!string.IsNullOrEmpty(myname))
        {
            message += "Entered Name: " + @myname + ". ";
            color = "color:green";
        }
        
        if (!choices.IsEmpty())
        {
            var choicesarray = choices.Split(',');
            for (int i = 0; i < choicesarray.Length; i++)
            {
                message += "Choice " + i + ": " + @choicesarray[i] + ". ";
                color = "color:green";
            }
        }
    }
}

<form id="theform" method="post">
    <div class="row">
        <div class="offset-1">
            <label id="label1" for="dataentry">Enter a Name:</label>&nbsp;&nbsp;
            <input type="text" id="dataentry" name="dataentry" value="@myname" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="offset-1">
            <label id="lblGameGroup">Select you favourite gaming platforms:</label><br />
            <input type="checkbox" id="GameGroup" name="GameGroup" value="PS4"
                   @(Array.IndexOf(choices.Split(','), "PS4") >= 0 ? "checked" : "") />PS4<br />
            <input type="checkbox" id="GameGroup" name="GameGroup" value="Computer"
                   @(Array.IndexOf(choices.Split(','), "Computer") >= 0 ? "checked" : "") />Computer<br />
            <input type="checkbox" id="GameGroup" name="GameGroup" value="XBOX One"
                   @(Array.IndexOf(choices.Split(','), "XBOX One") >= 0 ? "checked" : "") />XBOX One<br />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="offset-1">
            <button type="submit" id="theButton" name="theButton"
                    value="submit" class="btn btn-light">
                Submit
            </button>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton"
                    value="reset" class="btn btn-light">
                Reset
            </button>
        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="offset-1 text-center">
        <p style=@color>
            @message
        </p>
    </div>
</div>