@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", 
        "Exercise 02 Page 01 Partial String Search To Dropdown To Custom Grid View");

    var message = "";
    var color = "";
    IEnumerable<dynamic> partialstringresults = null;

    var partialstring = Request.Form["partialString"];
    var choice = Request.Form["dropdown"];
    var thebutton = Request.Form["theButton"];
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (!IsPost) // NO Buttons Pressed
{
    partialstring = "";
}
else // Buttons Pressed
{
    if (thebutton.Equals("clear"))
    {
        message = "Clear button pressed";
        color = "color:green";
        partialstring = "";
    }
    else if (thebutton.Equals("submit"))
    {
        if (partialstring.IsEmpty())
        {
            message = "Enter an Artist Name (or partial name).";
            color = "color:firebrick";
        }
        else
        {
            var db = Database.Open("CHINOOKDB");

            var query = "SELECT ArtistId, Name "
                + "FROM Artists "
                + "WHERE Name LIKE @0 "
                + "ORDER BY Name";
            var partialstringforquery = "%" + partialstring + "%";
            partialstringresults = db.Query(query, partialstringforquery);
            //always check if you even have results
            if (partialstringresults.Count() == 0)
            {
                message = "No Artists found that match string";
                color = "color:firebrick";
                partialstring = "";
            }
        }
    }
    else if (thebutton.Equals("fetch"))
    {
        var db = Database.Open("CHINOOKDB");
        var query = "SELECT AlbumID, Title, ArtistID, ReleaseYear, ReleaseLabel "
            + "FROM Albums "
            + "WHERE ArtistID = @0 "
            + "ORDER BY Title";
        var results = db.Query(query, choice);
        if (results.Count() == 0)
        {
            message = "No Albums found";
            color = "color:firebrick";
        }
        else
        {
            Response.Redirect("Ex02P2.cshtml?aid=" + choice);
        }
    }
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblartistArg" for="artistArg">Enter an Artist Name (or partial name):</label>
        </div>
        <div class="col-8 text-left">
            <input type="text" id="partialString" name="partialString"
                   value="@partialstring" placeholder="partial string ..." />&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton"
                    value="submit" class="btn btn-light">
                Fetch
            </button>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton"
                    value="clear" class="btn btn-light">
                Reset
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 text-right">
            <label class="label" for="CategoryList">Choose an Artist:</label>&nbsp;&nbsp;
        </div>
        <div class="col-md-8 text-left">
            <select id="dropdown" name="dropdown">
                <option value="0">select ...</option>
                @if (partialstringresults != null)
                {
                    foreach (var item in partialstringresults)
                    {
                        if (choice == item.ArtistID.ToString())
                        {
                            <option value="@item.ArtistID" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.ArtistID">@item.Name</option>
                        }
                    }
                }
            </select>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton" value="fetch"
                    class="btn btn-light">
                Fetch
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8 text-left">
            <p style=@color>
                @message
            </p>
        </div>
    </div>
</form>

