@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 2 Page1");

    var message = "";
    var color = "";
    IEnumerable<dynamic> partialstringartistresults = null;
    IEnumerable<dynamic> albumresults = null;
    var partialstring = Request.Form["partialString"];
    var choice = Request.Form["dropdown"];
    var thebutton = Request.Form["theButton"];
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    if (thebutton.Equals("clear"))
    {
        message = "Clear button pressed";
        color = "color:green";
        partialstring = "";
    }
    else if (thebutton.Equals("submit"))
    {
        var db = Database.Open("CHINOOKDB");

        string sqlcommand1 = "SELECT ArtistId, Name FROM Artists WHERE Name LIKE @0 ORDER BY Name";
        var partialstringforquery = "%" + partialstring + "%";
        partialstringartistresults = db.Query(sqlcommand1, partialstringforquery);
        //always check if you even have results

        if (partialstringartistresults.Count() == 0)
        {
            message = "No artists found that match string";
            color = "color:firebrick";
            partialstring = "";
        }
    }
    else if (thebutton.Equals("fetch"))
    {
        var db = Database.Open("CHINOOKDB");
        //var db = Database.Open("NWDB");
        var albumquery = "SELECT AlbumID, Title, ArtistID, ReleaseYear, ReleaseLabel "
            + "FROM Albums "
            + "WHERE ArtistID = @0 "
            + "ORDER BY Title";
        albumresults = db.Query(albumquery, choice);
        if (albumresults.Count() == 0)
        {
            message = "This artist has NO albums";
            color = "color:firebrick";
        }
        else
        {
            Response.Redirect("Ex02P2.cshtml?cid=" + choice);
        }
    }
}
else
{
    message = "IsPost = false";
    color = "color:green";
    partialstring = "";
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblartistArg" for="artistArg">Enter a partial artist name:</label>
        </div>
        <div class="col-8 text-left">
            <input type="text" id="partialString" name="partialString"
                   value="@partialstring" placeholder="partial string ..." />&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton"
                    value="submit" class="btn btn-light">
                Fetch
            </button>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton"
                    value="clear" class="btn btn-light">
                Reset
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 text-right">
            <label class="label" for="CategoryList">Choose an artist:</label>&nbsp;&nbsp;
        </div>
        <div class="col-md-8 text-left">
            <select id="dropdown" name="dropdown">
                <option value="0">select ...</option>
                @if (partialstringartistresults != null)
                {
                    foreach (var item in partialstringartistresults)
                    {
                        if (choice == item.ArtistID.ToString())
                        {
                            <option value="@item.ArtistID" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.ArtistID">@item.Name</option>
                        }
                    }
                }
            </select>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton" value="fetch"
                    class="btn btn-light">
                Fetch
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <p style=@color>
                @message
            </p>
        </div>
    </div>
</form>

