@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 03 CRUD INSERT");

    var message = "";
    var color = "";
    var albumid = "";
    var albumtitle = "";
    var artistid = "0";
    var releaseyear = "";
    var releaselabel = "";



    var db = Database.Open("CHINOOKDB");

    var artistquery = "SELECT ArtistId, Name "
        + "FROM Artists "
        + "ORDER BY Name";
    var artistlist = db.Query(artistquery);
}

@section banner{<h1>@Page.Title</h1>}

@if (!IsPost) // NO Buttons Pressed
{

}
else // Buttons Pressed
{
    albumtitle = Request.Form["AlbumTitle"];
    artistid = Request.Form["ArtistList"];
    releaseyear = Request.Form["ReleaseYear"];
    releaselabel = Request.Form["ReleaseLabel"];
    var thebutton = Request.Form["FormButton"];

    if (thebutton.Equals("Clear")) //pressed the CLEAR button
    {

        albumtitle = "";
        artistid = "0";
        releaseyear = "";
        releaselabel = "";
    }
    else //pressed the ADD button
    {
        if (albumtitle == "")
        {
            message = "Album Title is required";
            color = "color:firebrick";
        }
        else if (artistid == "0")
        {
            message = "Artist is required";
            color = "color:firebrick";
        }
        else if (releaseyear == "")
        {
            message = "Release Year is required";
            color = "color:firebrick";
        }
        else if (releaselabel == "")
        {
            message = "Release Label is required";
            color = "color:firebrick";
        }
        else
        {
            var inscommand = "INSERT INTO Albums "
                + "(Title, ArtistID, ReleaseYear, ReleaseLabel) "
                + "VALUES(@0, @1, @2, @3)";
            var rowsaffected = db.Execute(inscommand, albumtitle,
                artistid,
                int.Parse(releaseyear),
                releaselabel);
            if (rowsaffected > 0)
            {
                decimal newid = db.GetLastInsertId();
                albumid = newid.ToString();
                message = "Record ADDED";
                color = "color:green";
            }
            else
            {
                message = "Record NOT found";
                color = "color:firebrick";
            }
        }
    }
}

<form id="theForm" action="" method="post">
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblID" for="AlbumID">Album ID</label>
        </div>
        <div class="col-8 text-left">
            <input type="text" name="AlbumID" value="@albumid" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblName" for="AlbumTitle">Album Title</label>
        </div>
        <div class="col-8 text-left">
            <input type="text" name="AlbumTitle" value="@albumtitle" />
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblList" for="ArtistList">Artist</label>
        </div>
        <div class="col-8 text-left">
            <select name="ArtistList">
                <option value="0">select...</option>
                @foreach (var acollectionrow in artistlist)
                {
                    if (acollectionrow.ArtistID.ToString() == artistid)
                    {
                        <option value="@acollectionrow[0]" selected>@acollectionrow[1]</option>
                    }
                    else
                    {
                        <option value="@acollectionrow[0]">@acollectionrow[1]</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblReleaseYear" for="ReleaseYear">Release Year</label>
        </div>
        <div class="col-8 text-left">
            <input type="number" name="ReleaseYear" value="@releaseyear" />
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblReleaseLabel" for="ReleaseLabel">Release Label</label>
        </div>
        <div class="col-8 text-left">
            <input type="text" name="ReleaseLabel" value="@releaselabel" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8 text-left">
            <input type="submit" id="theAdd" name="FormButton"
                   class="btn btn-light" value="Add" />&nbsp;&nbsp;
            <input type="submit" id="theClear" name="FormButton"
                   class="btn btn-light" value="Clear" />
        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-6 text-left">
        <p style=@color>
            @message
        </p>
    </div>
</div>
