@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}",
        "Ex04 Page 02");


    var message = "";
    var color = "";
    var id = Request["Id"];
    var name = Request["Name"];
    var credits = Request["Credits"];
    var thebutton = Request.Form["theButton"];
    bool updateDeleteEnabled = true;

    var sid = Request.QueryString["sid"];

    if (string.IsNullOrEmpty(sid))
    {
        Response.Redirect("Inclass02P1.cshtml");
    }
    var db = Database.Open("ACTIVITYDB");
}

@section banner {
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8 text-left">
            <h3>@Page.Title</h3>
        </div>
    </div>
}

@if (!IsPost) // NO Buttons Pressed
{
    var queryStatement = "Select StudentId, "
            + "StudentName, "
            + "Credits "
            + "From Student "
            + "WHERE StudentId = @0";
    var queryResults = db.QuerySingle(queryStatement, sid);
    if (queryResults == null)
    {
        Response.Redirect("Inclass02P1.cshtml");
    }
    else
    {
        id = queryResults.StudentId.ToString();
        name = queryResults.StudentName;
        credits = queryResults.Credits.ToString();
    }
}
else // Buttons Pressed
{
    try
    {
        if (thebutton.Equals("back"))
        {
            Response.Redirect("Inclass02P1.cshtml");
        }
        if (thebutton.Equals("update"))
        {
            if (name == "")
            {
                message = "Name is required";
                color = "color:firebrick";
            }
            else if (credits == "")
            {
                message = "Credits is required";
                color = "color:firebrick";
            }
            else if (double.Parse(credits) < 0.0 || double.Parse(credits) > 100.0)
            {
                message = "Credits must be between 0.0 and 100.0";
                color = "color:firebrick";
            }
            else
            {
                var queryStatement = "Update Student Set "
                + "StudentName = @0, "
                + "Credits = @1 "
                + "WHERE StudentId = @2";

                var rowsaffected = db.Execute(queryStatement, name, credits, id);
                if (rowsaffected > 0)
                {
                    message = "Record UPDATED";
                    color = "color:green";
                }
                else
                {
                    message = "Record NOT found";
                    color = "color:firebrick";
                }
            }
        }
        else if (thebutton.Equals("delete"))
        {
            var queryStatement = "Delete Student WHERE StudentId = @0";
            var rowsaffected = db.Execute(queryStatement, id);
            if (rowsaffected > 0)
            {
                message = "Record DELETED";
                color = "color:green";
                id = "";
                name = "";
                credits = "";
                updateDeleteEnabled = false;
            }
            else
            {
                message = "Record NOT found";
                color = "color:firebrick";
            }
        }
    }
    catch (Exception ex)
    {
        message = "Processing error:" + @ex.Message;
        color = "color:firebrick";
    }
}

<form id="theForm" action="" method="post">
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblID" for="ID">ID</label>
        </div>
        <div class="col-8 text-left">
            <input type="text" name="ID" value="@id" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblName" for="Name">Name</label>
        </div>
        <div class="col-8 text-left">
            <input type="text" name="Name" value="@name" />
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblCredits" for="Credits">Credits</label>
        </div>
        <div class="col-8 text-left">
            <input type="number" name="Credits" value="@credits" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8 text-left">
            <button type="submit" name="theButton" id="theCancel" class="btn btn-light"
                    value="back">
                Back
            </button>&nbsp;
            <button type="submit" name="theButton" id="theUpdate" class="btn btn-light"
                    @(updateDeleteEnabled ? "" : "disabled") value="update">
                Update
            </button>&nbsp;
            <button type="submit" name="theButton" id="theDelete" class="btn btn-light"
                    @(updateDeleteEnabled ? "" : "disabled") value="delete">
                Delete
            </button>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("theDelete").onclick = ConfirmDelete;
        function ConfirmDelete() {
            return confirm("Are you sure you want to DELETE @name?");
        }
    </script>
</form>
<br />
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-6 text-left">
        <p style=@color>
            @message
        </p>
    </div>
</div>
