@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Form with Radio Buttons");

    //if you need to have a variable for the entire page
    //  that variable needs to be declared at a global level
    var languagegroup = "";
    var scriptgroup = "";
    var thebutton = "";
    var message = "";
    var color = "";
}

@section banner {<h1>@Page.Title</h1>}

@if (!IsPost) // NO Buttons Pressed
{
    message = "IsPost = false";
    color = "color:green";
}
else // Buttons Pressed
{
    languagegroup = Request.Form["LanguageGroup"];
    scriptgroup = Request.Form["ScriptGroup"];
    thebutton = Request.Form["theButton"];

    if (thebutton.Equals("reset"))
    {
        languagegroup = "";
        scriptgroup = "";
        message = "Reset button pressed";
        color = "color:green";
    }
    else if (thebutton.Equals("submit"))
    {
        if (string.IsNullOrEmpty(languagegroup))
        {
            message = "Select a programming language. ";
            color = "color:firebrick";
            languagegroup = "";
        }
        if (string.IsNullOrEmpty(scriptgroup))
        {
            message += "Select a scripting language.";
            color = "color:firebrick";
            scriptgroup = "";
        }
        if (languagegroup != "" && scriptgroup != "")
        {
            if (languagegroup.Equals("C#"))
            {
                message = "CPSC-1517 uses C#. ";
                color = "color:green";
                languagegroup = "";
            }
            else
            {
                message += "CPSC-1517 does not use " + @languagegroup + ". ";
                color = "color:green";
            }
            if (scriptgroup.Equals("Razor"))
            {
                message += "CPSC-1517 uses Razor. ";
                color = "color:green";
            }
            else
            {
                message += "CPSC-1517 does not use " + @scriptgroup + ". ";
                color = "color:green";
            }
        }
    }
}

<form id="theform" method="post">
    <div class="row">
        <div class="offset-1">
            <label id="lblLanguageGroup">Select you favourite programming language:</label><br />
            <input type="radio" id="LanguageGroup" name="LanguageGroup" value="C#"
                   checked="@(languagegroup.Equals("C#")?true:false)" />C#<br />
            <input type="radio" id="LanguageGroup" name="LanguageGroup" value="VisualBasic"
                   checked="@(languagegroup.Equals("VisualBasic")?true:false)" />VisualBasic<br />
            <input type="radio" id="LanguageGroup" name="LanguageGroup" value="Fortran"
                   checked="@(languagegroup.Equals("Fortran")?true:false)" />Fortran<br />
            <input type="radio" id="LanguageGroup" name="LanguageGroup" value="Cobol"
                   checked="@(languagegroup.Equals("Cobol")?true:false)" />Cobol<br />
            <input type="radio" id="LanguageGroup" name="LanguageGroup" value="ObjectiveC"
                   checked="@(languagegroup.Equals("ObjectiveC")?true:false)" />ObjectiveC<br /><br />
            <label id="lblScriptGroup">Select you favourite scripting language:</label><br />
            <input type="radio" id="ScriptGroup" name="ScriptGroup" value="Javascript"
                   checked="@(scriptgroup.Equals("Javascript")?true:false)" />Javascript<br />
            <input type="radio" id="ScriptGroup" name="ScriptGroup" value="Razor"
                   checked="@(scriptgroup.Equals("Razor")?true:false)" />Razor<br />
            <input type="radio" id="ScriptGroup" name="ScriptGroup" value="PHP"
                   checked="@(scriptgroup.Equals("PHP")?true:false)" />PHP<br /><br />
        </div>
    </div>
    <div class="row">
        <div class="offset-1">
            <button type="submit" id="theButton" name="theButton"
                    value="submit" class="btn btn-light">
                Submit
            </button>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton"
                    value="reset" class="btn btn-light">
                Reset
            </button>
        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="offset-1 text-center">
        <p style=@color>
            @message
        </p>
    </div>
</div>