@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Check Boxes");

    var message = "";
    var color = "";
    var choices = Request.Form["group"];
    var thebutton = Request.Form["theButton"];
}

@section banner {
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8 text-left">
            <h3>@Page.Title</h3>
        </div>
    </div>
}

@if (!IsPost) // NO Buttons Pressed
{
    message = "IsPost = false";
    color = "color:green";
}
else // Buttons Pressed
{
    if (thebutton.Equals("reset"))
    {
        message = "Reset button pressed";
        color = "color:green";
        choices = "";
    }
    else if (thebutton.Equals("submit"))
    {
        if (choices.IsEmpty())
        {
            message = "You don't like to play games? ";
            color = "color:firebrick";
            choices = "";
        }
        else
        {
            message += "Your Choices: ";
            var choicesarray = choices.Split(',');
            for (int i = 0; i < choicesarray.Length; i++)
            {
                message += @choicesarray[i] + ", ";
                color = "color:green";
            }
            //for a checkbox list, your choices will be a set of strings
            //separated by a delimiter (in this case is a comma)
            //to divide up this set of strings use the .Split(delimiter) method
            //to process the collection of strings in choices
        }
    }
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblGameGroup">Select you favourite gaming platforms:</label>
        </div>
        <div class="col-8 text-left">
            <input type="checkbox" id="group" name="group" value="PS4"
                   @(Array.IndexOf(choices.Split(','), "PS4") >= 0 ? "checked" : "") />PS4<br />
            <input type="checkbox" id="group" name="group" value="Computer"
                   @(Array.IndexOf(choices.Split(','), "Computer") >= 0 ? "checked" : "") />Computer<br />
            <input type="checkbox" id="group" name="group" value="XBOX One"
                   @(Array.IndexOf(choices.Split(','), "XBOX One") >= 0 ? "checked" : "") />XBOX One<br />
            <input type="checkbox" id="group" name="group" value="Switch"
                   @(Array.IndexOf(choices.Split(','), "Switch") >= 0 ? "checked" : "") />Switch<br />
            <input type="checkbox" id="group" name="group" value="Wii"
                   @(Array.IndexOf(choices.Split(','), "Wii") >= 0 ? "checked" : "") />Wii<br /><br />
            @*<input type="checkbox" id="group" name="group" value="Wii" checked
        @(Array.IndexOf(choices.Split(','), "Wii") >= 0 ? "checked" : "") />Wii<br /><br />*@
        </div>
    </div>
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8 text-left">
            <button type="submit" id="theButton" name="theButton"
                    value="submit" class="btn btn-light">
                Submit
            </button>&nbsp;
            <button type="submit" id="theButton" name="theButton"
                    value="reset" class="btn btn-light">
                Reset
            </button>
        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-8 text-left">
        <p style=@color>
            @message
        </p>
    </div>
</div>