@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Page 1 MultiRecord Drop Down to Custom GridView");
    var message = "";
    var color = "";
    var choice = Request.Form["CategoryList"];

    var db = Database.Open("NWDB");
    var categoryquery = "SELECT CategoryID, CategoryName "
            + "FROM Categories "
            + "ORDER BY CategoryName";
    var categoryrecords = db.Query(categoryquery);
}

@section banner {<h1>@Page.Title</h1>}

@if (!IsPost) // NO Buttons Pressed
{
    if (categoryrecords.Count() == 0)
    {
        message = "There are no categories on file.";
        color = "color:firebrick";
    }
}
else // Submit Button Pressed
{
    if (choice.Equals("0"))
    {
        message = "Select a Category.";
        color = "color:firebrick";
    }
    else
    {
        var productquery = "SELECT ProductID "
                + "FROM Products "
                + "WHERE CategoryID = @0";
        var productinfo = db.Query(productquery, choice);

        if (productinfo.Count() == 0)
        {
            message = "There are no products for the selected category.";
            color = "color:firebrick";
        }
        else
        {
            Response.Redirect("30P2MultiRecordDropdownToCustomGridView.cshtml?cid=" + choice);
        }
    }
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-4 text-right">
            <label class="label" for="CategoryList">Category:  </label>&nbsp;&nbsp;
        </div>
        <div class="col-8 text-left">
            <select id="CategoryList" name="CategoryList">
                <option value="0">select ...</option>
                @foreach (var item in categoryrecords)
                {
                    //for the select control, the default display on an event
                    //is the 1st option tag
                    //to retain the option selected between posts, you need to
                    //set the selected option using the attribute selected
                    if (choice == item.CategoryID.ToString())
                    {
                        <option value="@item.CategoryID" selected>@item.CategoryName</option>
                    }
                    else
                    {
                        <option value="@item.CategoryID">@item.CategoryName</option>
                    }
                }
            </select>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton" value="submit"
                    class="btn btn-light">
                Fetch
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8 text-left">
            <p style=@color>
                @message
            </p>
        </div>
    </div>
</form>
