@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Page1 Partial String Search to Dropdown to Custom GridView (Ex02)");

    var message = "";
    var color = "";
    IEnumerable<dynamic> partialstringproductresults = null;
    IEnumerable<dynamic> albumresults = null;
    var partialstring = Request.Form["partialString"];
    var choice = Request.Form["dropdown"];
    var thebutton = Request.Form["theButton"];
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    if (thebutton.Equals("clear"))
    {
        message = "Clear button pressed";
        color = "color:green";
        partialstring = "";
    }
    else if (thebutton.Equals("submit"))
    {
        var db = Database.Open("NWDB");

        //create the sql command to be executed on the database
        //input parameters will be represented by the use of placeholders
        //placeholders are indexes (0, 1, 2,...)
        //your command can use multiple placeholders

        //how to use the LIKE command in SQL
        //WHERE Name LIKE 'a%'	Finds any values that start with "a"
        //WHERE Name LIKE '%a'	Finds any values that end with "a"
        //WHERE Name LIKE '%or%'	Finds any values that have "or" in any position
        //WHERE Name LIKE '_r%'	Finds any values that have "r" in the second position
        //WHERE Name LIKE 'a__%'	Finds any values that start with "a" and are at least 3 characters in length
        //WHERE Name LIKE 'a%o'	Finds any values that start with "a" and ends with "o"

        string sqlcommand1 = "SELECT ProductId, ProductName "
            + "FROM Products "
            + "WHERE ProductName LIKE @0 "
            + "ORDER BY ProductName";
        var partialstringforquery = "%" + partialstring + "%";
        partialstringproductresults = db.Query(sqlcommand1, partialstringforquery);

        if (partialstringproductresults.Count() == 0)
        {
            message = "No products found that match string";
            color = "color:firebrick";
            partialstring = "";
        }
    }
    else if (thebutton.Equals("fetch"))
    {
        var db = Database.Open("NWDB");
        var albumquery = "SELECT ProductID, ProductName "
            + "FROM Products "
            + "WHERE ProductID = @0";
        albumresults = db.Query(albumquery, choice);
        if (albumresults.Count() == 0)
        {
            message = "No product was returned";
            color = "color:firebrick";
        }
        else
        {
            Response.Redirect("40P2PartialStringSearchToDropdownToCustomGridView.cshtml?cid=" + choice);
        }
    }
}
else
{
    message = "IsPost = false";
    color = "color:green";
    partialstring = "";
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblartistArg" for="artistArg">Enter a partial product name:</label>
        </div>
        <div class="col-8 text-left">
            <input type="text" id="partialString" name="partialString"
                   value="@partialstring" placeholder="partial string ..." />&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton"
                    value="submit" class="btn btn-light">
                Fetch
            </button>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton"
                    value="clear" class="btn btn-light">
                Reset
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 text-right">
            <label class="label" for="CategoryList">Choose a product:</label>&nbsp;&nbsp;
        </div>
        <div class="col-md-8 text-left">
            <select id="dropdown" name="dropdown">
                <option value="0">select ...</option>
                @if (partialstringproductresults != null)
                {
                    foreach (var item in partialstringproductresults)
                    {
                        if (choice == item.ProductID.ToString())
                        {
                            <option value="@item.ProductID" selected>@item.ProductName</option>
                        }
                        else
                        {
                            <option value="@item.ProductID">@item.ProductName</option>
                        }
                    }
                }
            </select>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton" value="fetch"
                    class="btn btn-light">
                Fetch
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <p style=@color>
                @message
            </p>
        </div>
    </div>
</form>

