@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Partial String Search To Dropdown To CRUD - Page 1 Search/Dropdown (Ex04)");

    var message = "";
    var color = "";
    var partialstring = Request.Form["partialString"];
    var choice = Request.Form["dropdown"];
    var thebutton = Request.Form["theButton"];
    IEnumerable<dynamic> partialstringproductresults = null;
}

@section banner {<h1>@Page.Title</h1>}

@if (!IsPost) // NO Buttons Pressed
{
    partialstring = "";
}
else // Buttons Pressed
{
    if (thebutton.Equals("clear"))
    {
        message = "Clear button pressed";
        color = "color:green";
        partialstring = "";
    }
    else if (thebutton.Equals("submit"))
    {
        if (partialstring.IsEmpty())
        {
            message = "Enter a product name (or partial name).";
            color = "color:firebrick";
        }
        else
        {
            var db = Database.Open("NWDB");
            string partialstringquery = "SELECT ProductId, ProductName "
                + "FROM Products "
                + "WHERE ProductName LIKE @0 "
                + "ORDER BY ProductName";
            var partialstringforquery = "%" + partialstring + "%";
            partialstringproductresults = db.Query(partialstringquery, partialstringforquery);
            if (partialstringproductresults.Count() == 0)
            {
                message = "No products found that match string";
                color = "color:firebrick";
                partialstring = "";
            }
        }
    }
    else if (thebutton.Equals("fetch"))
    {
        var db = Database.Open("NWDB");
        var productquery = "SELECT ProductID, ProductName "
            + "FROM Products "
            + "WHERE ProductID = @0";
        var productresults = db.Query(productquery, choice);
        if (productresults.Count() == 0)
        {
            message = "No product was returned";
            color = "color:firebrick";
        }
        else
        {
            Response.Redirect("60P2PartialStringSearchToDropdownToSingleRecord.cshtml?pid=" + choice);
        }
    }
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblpartialString" for="partialString">Product Name (or Partial Name):</label>
        </div>
        <div class="col-8 text-left">
            <input type="text" id="partialString" name="partialString"
                   value="@partialstring" placeholder="partial string ..." />&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton"
                    value="submit" class="btn btn-light">
                Fetch
            </button>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton"
                    value="clear" class="btn btn-light">
                Reset
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4 text-right">
            <label class="label" for="CategoryList">Choose a product:</label>
        </div>
        <div class="col-8 text-left">
            <select id="dropdown" name="dropdown">
                <option value="0">select ...</option>
                @if (partialstringproductresults != null)
                {
                    foreach (var item in partialstringproductresults)
                    {
                        if (choice == item.ProductID.ToString())
                        {
                            <option value="@item.ProductID" selected>@item.ProductName</option>
                        }
                        else
                        {
                            <option value="@item.ProductID">@item.ProductName</option>
                        }
                    }
                }
            </select>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton" value="fetch"
                    class="btn btn-light">
                Fetch
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8 text-left">
            <p style=@color>
                @message
            </p>
        </div>
    </div>
</form>

