@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Page 3 Partial Search To CGV To CRUD");

    var pid = Request.QueryString["pid"];
    if (pid.IsEmpty())
    {
        Response.Redirect("70P1PartialStringSearchToCustomGridViewToSingleRecord.cshtml");
    }
    var message = "";
    var color = "";
    var productid = Request.Form["ProductID"];
    var productname = Request.Form["ProductName"];
    var supplierid = Request.Form["SupplierList"];
    var categoryid = Request.Form["CategoryList"];
    var unitprice = Request.Form["UnitPrice"];
    var discontinued = Request.Form["Discontinued"];
    var thebutton = Request.Form["theButton"];
    bool updateDeleteEnabled = true;

    var db = Database.Open("NWDB");
    var supplierStatement = "SELECT SupplierID, CompanyName "
                            + "FROM Suppliers "
                            + "ORDER BY CompanyName";
    var querySuppliers = db.Query(supplierStatement);
    var categoryStatement = "SELECT CategoryID, CategoryName "
                        + "FROM Categories "
                        + "ORDER BY CategoryName";
    var queryCategories = db.Query(categoryStatement);
}

@section banner {
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8 text-left">
            <h3>@Page.Title</h3>
        </div>
    </div>
}

@if (!IsPost) // NO Buttons Pressed
{
    productid = pid;
    discontinued = "0";
    var queryStatement = "SELECT ProductID, ProductName, SupplierID, "
                            + "CategoryID, UnitPrice, "
                            + "Discontinued "
                            + "FROM Products "
                            + "WHERE ProductID = @0";
    var queryProducts = db.QuerySingle(queryStatement, pid);
    if (queryProducts == null)
    {
        message = "Record NOT found";
        color = "color:firebrick";
    }
    else
    {
        productid = queryProducts.ProductID.ToString();
        productname = queryProducts.ProductName;
        supplierid = queryProducts.SupplierID == null ? "0" : queryProducts.SupplierID.ToString();
        categoryid = queryProducts.CategoryID == null ? "0" : queryProducts.CategoryID.ToString();
        unitprice = queryProducts.UnitPrice == null ? "" : queryProducts.UnitPrice.ToString();
        discontinued = queryProducts.Discontinued.ToString();
    }
}
else // Buttons Pressed
{
    try
    {
        //discontinued is a checkbox
        //the possible values from the check box is null (not checked) or "on" (checked)
        //the acceptable sql values for a bit are 0 and 1
        if (discontinued == null)
        {
            discontinued = "0";
        }
        else
        {
            discontinued = "1";
        }
        if (thebutton.Equals("back"))
        {
            Response.Redirect("70P1PartialStringSearchToCustomGridViewToSingleRecord.cshtml");
        }
        else if (thebutton.Equals("clear"))
        {
            productid = "";
            productname = "";
            supplierid = "0";
            categoryid = "0";
            unitprice = "";
            discontinued = "0";
            updateDeleteEnabled = false;
        }
        else if (thebutton.Equals("add"))
        {
            if (productname == "")
            {
                message = "Product Name is required";
                color = "color:firebrick";
                updateDeleteEnabled = false;
            }
            else if (categoryid == "0")
            {
                message = "Category is required";
                color = "color:firebrick";
                updateDeleteEnabled = false;
            }
            else if (unitprice == "")
            {
                message = "Unit Price is required";
                color = "color:firebrick";
                updateDeleteEnabled = false;
            }
            else
            {
                var inscommand = "INSERT INTO Products "
                    + "(ProductName, SupplierID, CategoryID, "
                    + "UnitPrice, "
                    + "Discontinued) "
                    + "VALUES(@0, @1, @2, @3, @4)";
                var rowsaffected = db.Execute(inscommand, productname,
                    supplierid.Equals("0") ? null : supplierid,
                    categoryid,
                    unitprice,
                    discontinued);
                if (rowsaffected > 0)
                {
                    decimal newid = db.GetLastInsertId();
                    productid = newid.ToString();
                    message = "Record ADDED";
                    color = "color:green";
                    updateDeleteEnabled = true;
                }
                else
                {
                    message = "Record NOT found";
                    color = "color:firebrick";
                }
            }
        }
        else if (thebutton.Equals("update"))
        {
            if (productname == "")
            {
                message = "Product Name is required";
                color = "color:firebrick";
            }
            else if (categoryid == "0")
            {
                message = "Category is required";
                color = "color:firebrick";
            }
            else if (unitprice == "")
            {
                message = "Unit Price is required";
                color = "color:firebrick";
            }
            else
            {
                var updatecommand = "UPDATE Products SET "
                    + "ProductName = @0, "
                    + "SupplierID = @1, "
                    + "CategoryID = @2, "
                    + "UnitPrice = @3, "
                    + "Discontinued = @4 "
                    + "WHERE ProductID = @5";
                var rowsaffected = db.Execute(updatecommand, productname,
                    supplierid.Equals("0") ? null : supplierid,
                    categoryid,
                    unitprice,
                    discontinued,
                    productid);
                if (rowsaffected > 0)
                {
                    message = "Record UPDATED";
                    color = "color:green";
                }
                else
                {
                    message = "Record NOT found";
                    color = "color:firebrick";
                }
            }
        }
        else if (thebutton.Equals("delete"))
        {
            var deleteStatement = "Delete Products WHERE ProductID = @0";
            var rowsaffected = db.Execute(deleteStatement, productid);
            if (rowsaffected > 0)
            {
                message = "Record DELETED";
                color = "color:green";
                productid = "";
                productname = "";
                supplierid = "0";
                categoryid = "0";
                unitprice = "";
                discontinued = "0";
                updateDeleteEnabled = false;
            }
            else
            {
                message = "Record NOT found";
                color = "color:firebrick";
            }
        }
    }
    catch (Exception ex)
    {
        message = "Processing error:" + @ex.Message;
        color = "color:firebrick";
    }
}

<form id="theForm" action="" method="post">
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblProductID" for="ProductID">Product ID</label>
        </div>
        <div class="col-8 text-left">
            <input type="text" name="ProductID" value="@productid" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblProductName" for="ProductName">Product Name</label>
        </div>
        <div class="col-8 text-left">
            <input type="text" name="ProductName" value="@productname" />
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblSupplierList" for="SupplierList">Supplier</label>
        </div>
        <div class="col-8 text-left">
            <select name="SupplierList">
                <option value="0">select...</option>
                @foreach (var acollectionrow in querySuppliers)
                {
                    if (acollectionrow.SupplierID.ToString() == supplierid)
                    {
                        <option value="@acollectionrow[0]" selected>@acollectionrow[1]</option>
                    }
                    else
                    {
                        <option value="@acollectionrow[0]">@acollectionrow[1]</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblCategoryList" for="CatgoryList">Category</label>
        </div>
        <div class="col-8 text-left">
            <select name="CategoryList">
                <option value="0">select...</option>
                @foreach (var acollectionrow in queryCategories)
                {
                    if (acollectionrow.CategoryID.ToString() == categoryid)
                    {
                        <option value="@acollectionrow[0]" selected>@acollectionrow[1]</option>
                    }
                    else
                    {
                        <option value="@acollectionrow[0]">@acollectionrow[1]</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblUnitPrice" for="UnitPrice">Unit Price</label>
        </div>
        <div class="col-8 text-left">
            <input type="number" name="UnitPrice" value="@unitprice" step="0.01" />
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right">
            <label id="lblDiscontinued" for="Discontinued">Discontinued</label>
        </div>
        <div class="col-8 text-left">
            @if (discontinued.Equals("True") || (discontinued == "1"))
            {
                <input type="checkbox" name="Discontinued" checked value="1" />
            }
            else
            {
                <input type="checkbox" name="Discontinued" value="0" />
            }
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8 text-left">
            <button type="submit" name="theButton" id="theCancel" class="btn btn-light" formnovalidate
                    value="back">
                Back
            </button>&nbsp;
            <button type="submit" name="theButton" id="theClear" class="btn btn-light"
                    value="clear">
                Clear
            </button>&nbsp;
            <button type="submit" name="theButton" id="theAdd" class="btn btn-light"
                    value="add">
                Add
            </button>&nbsp;
            <button type="submit" name="theButton" id="theUpdate" class="btn btn-light"
                    @(updateDeleteEnabled ? "" : "disabled") value="update">
                Update
            </button>&nbsp;
            <button type="submit" name="theButton" id="theDelete" class="btn btn-light"
                    @(updateDeleteEnabled ? "" : "disabled") value="delete">
                Delete
            </button>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("theDelete").onclick = ConfirmDelete;
        function ConfirmDelete() {
            return confirm("Are you sure you want to DELETE @productname?");
        }
    </script>
</form>
<br />
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-8 text-left">
        <p style=@color>
            @message
        </p>
    </div>
</div>