@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Primary Key Query");

    //output variable
    string artistid = "";
    string artistname = "";

    //input variables for web controls
    var artistarg = Request.Form["RegionArg"];
    var thebutton = Request.Form["theButton"];

    //remember the 1st time the page is called
    //input variables will be null

    //this page will access the database when the submit button is pressed
    //the project needs access to 2 more NuGet packages
    //Microsoft.Aspnet.WebPages.Data
    //Microsoft.Aspnet.Webpages.WebData

    //connect to the database
    //use the name attribute off your web connection string

    var db = Database.Open("CHINOOK");

    //create the sql command to be executed on the database
    //input parameters will be represented by the use of placeholders
    //placeholders are indexes (0, 1, 2,...)
    //your command can use multiple placeholders

    //how to use the LIKE command in SQL
    //WHERE Name LIKE 'a%'	Finds any values that start with "a"
    //WHERE Name LIKE '%a'	Finds any values that end with "a"
    //WHERE Name LIKE '%or%'	Finds any values that have "or" in any position
    //WHERE Name LIKE '_r%'	Finds any values that have "r" in the second position
    //WHERE Name LIKE 'a__%'	Finds any values that start with "a" and are at least 3 characters in length
    //WHERE Name LIKE 'a%o'	Finds any values that start with "a" and ends with "o"

    string sqlcommand1 = "SELECT ArtistId, Name FROM Artists WHERE Name LIKE @0 ORDER BY Name";
    artistarg = "Ja";
    var partialstring = "%" + artistarg + "%";
    var results = db.Query(sqlcommand1, partialstring);
    <table>
        <thead>
            <tr>
                <th>Artist ID</th>
                <th>Artist Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in results)
            {
                <tr>
                    <td>@row.ArtistId</td>
                    <td>@row.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@section banner {
    <h1>@Page.Title</h1>
}

@*@if (IsPost)
{
    if (thebutton.Equals("reset"))
    {
        <p style="color:darkblue">The Reset Button was just Pressed</p>
        regionarg = "";
        regionid = "";
        regiondescription = "";
    }
    else
    {
        //always check if you even have results

        //checking for query results DEPEND on how the query was executed
        // a) and c)   check for null
        // b) check the .Count of the results

        //a primary key lookup returns either the record or nothing

        if (results == null)
        {
            <p style="color:firebrick">There was no record returned from the Data Base</p>
            regionarg = "";
            regionid = "";
            regiondescription = "";
        }
        else
        {
            <p style="color:darkgreen">There was a record returned from the Data Base</p>

            //accessing the data out of your results
            //there is 2 ways to access data on a result row
            //a) using an index     syntax  result[index] where index value starts at
            //                        0 which is the first column on the select
            //b) using the Property Name    syntax result.PropertyName where the
            //                        property name is the column title

            //data returned has a datatype that matches the Property
            //regionid = results[0].ToString();
            //regiondescription = results.RegionDescription;
        }
    }
}
else
{
    <p style="color:darkblue">The Data Base has NOT been queried</p>
    regionarg = "";
}

<form id="theform" method="post">
    <dic class="row">
        <div class="col-3">
            <div class="offset-1">
                <label id="lblRegionArg" for="RegionArg">Enter a Region ID:</label>&nbsp;&nbsp;
                <input type="number" step="1" min="1" id="RegionArg" name="RegionArg"
                       value="@regionarg" placeholder="region id" />
                <br /><br />
                <button type="submit" id="theButton" name="theButton"
                        value="submit" class="btn btn-primary">
                    Fetch
                </button>&nbsp;&nbsp;
                <button type="submit" id="theButton" name="theButton"
                        value="reset" class="btn btn-light">
                    Reset
                </button>
            </div>
        </div>
        <div class="col-3">
            <div class="offset-1">
                <label id="lblRegionID">Region ID:</label>&nbsp;&nbsp;
                <label id="RegionID">@regionid</label>
                <br /><br />
                <label id="lblRegionDescription">Region Name:</label>&nbsp;&nbsp;
                <input type="text" id="RegionDescription" name="RegionDescription"
                       value="@regiondescription" readonly />
            </div>
        </div>
    </dic>
</form>*@
